.main-container-resume {
    padding: 30px 6vw 0 6vw;
}

.Education-Wrapper {
    text-align: left;
}

.Skills-Wrapper {
    text-align: left;
}

.Languages-Wrapper {
    text-align: left;
}

.Leadership-Awards-Wrapper {
    text-align: left;
}

.Work-Experience-Wrapper {
    text-align: left;
}