.sortButton {
    font-weight: 500;
    font-style: normal;
    font-size: calc(0.05 * 1vw + 1rem);
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.6em;

    background: transparent;
    border-color: var(--secondary-color);
    color: black;
    border-style: solid;
    cursor: pointer;
    border-width: 1px;
    border-radius: 2px;
    padding: 0.2rem;
    margin: 0.2rem;
    transition: background-color 200ms, color 60ms, padding 200ms, margin 200ms;
}

.sortButton:hover {
    background-color: var(--secondary-color);
    color: black;
    opacity: 0.9;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
}

.sortButton:active {
    opacity: 0.6;
}

.sortingContainer {
    padding-top: 120px;
}

.array_bar {
    width: 3px;
    background-color: cornflowerblue;
    display: inline-block;
    margin: 0 1px;
    justify-content: center;
}

.array_container {
    display: flex;
    align-items: center;
    height: 65vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

.control_container {
    display: flex;
    margin: 10px 48px 10px 48px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.infoPanelButton {
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
}

.infoPanel {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: min-content;
    max-width: 40vw;
    right: 48px;
    top: 20vh;
    padding: 1rem;
    border-radius: 3px;
    color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    transition: all 500ms;
}

.infoPanelContent {
    border: none;
    visibility: hidden;
    opacity: 0;
    height: 0px;
    width: 0px;
    padding: 0.5rem;
    overflow: hidden;
    list-style: none;
    transition: all 450ms;
}

.infoPanelContent.active {
    height: auto;
    width: auto;
    opacity: 1;
    visibility: visible;
    overflow: visible;
    transition: all 600ms;
}

@media (max-width: 700px) {
    .infoPanel {
        max-width: 70vw;
    }
}

.infoPanel::-webkit-scrollbar {
    display: none;
}

.infoPanelHeader {
    margin: 0.5em auto 0.5em auto;
}

.speedSliderContainer {
    padding: 1rem;
}
