:root {
  --primary-color: #182b49;
  --secondary-color: #ffcd00;
  --speed: 300ms;
}

@font-face {
  font-family: "IBM_VGA_8x16";
  src: local("WebPlus_IBM_VGA_8x16"),
    url(./Fonts/WebPlus_IBM_VGA_8x16.woff) format("woff"),
    local("Px437_IBM_VGA_8x16"),
    url(./Fonts/Px437_IBM_VGA_8x16.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "WebPlus_IBM_VGA_8x16_Bold";
  src: local("IBM_VGA_8x16-2x"),
    url(./Fonts/WebPlus_IBM_VGA_8x16-2x.woff) format("woff"),
    local("IBM_VGA_8x16-2x"),
    url(./Fonts/WebPlus_IBM_VGA_8x16-2x.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: rgba(253, 253, 253, 0.979);
  font-family: "EB Garamond", "Maven Pro", serif;
  font-size: calc((1.2 - 1) * 1.2vw + 1rem);
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.speedSlider {
  width: max-content;
  max-width: 250px;
  flex: 1;
}

.speedSliderContainer {
  background-color: rgba(255, 255, 255, 0.5);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

p {
  margin: auto;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #264475;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -3px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--secondary-color);
  height: 1rem;
  width: 1rem;
  border-radius: 10px;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid var(--primary-color);
  outline: 2px solid var(--primary-color);
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--secondary-color);
  height: 1rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid var(--primary-color);
  outline: 2px solid var(--primary-color);
  outline-offset: 0.125rem;
}
